@charset "UTF-8";
/*全局*/

body {
    background-color: #f6f6f6;
}

.container-bg-color {
    background-color: white;
    padding-bottom: 300px;
    padding-top: 20px

}


.headbar {
    background-color: #363636;
    height: 2em;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #000000;
}


/*随机字符串*/
.ramdom_str {
    text-align: center;
    margin: 100px 0;
}
